QMenuBar, QMenu, QToolBar, QStatusBar, QFrame, QScrollBar {
    border: none;
}
QTabBar::tab:selected {
    color: palette(bright-text);
}
QScrollBar {
    background: palette(dark);
}
QScrollBar::handle {
    background: palette(highlight);
    border-radius: 4px;
}
QScrollBar::add-line, QScrollBar::sub-line {
    background: palette(window);
}
